<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
		<link rel="stylesheet" th:href="@{/css/core.css}"/>
		<script th:src="@{/js/jquery-1.11.0.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/core.js}"></script>

		<style type="text/css">
			.ball-item-container {
				width: 12.5%;
				float: left;
				margin-top: 5px;
			}

			.red-ball-selected{
				background-color: rgba(255,0,0,1);
				color: white;
			}
			.blue-ball-selected{
				background-color: rgba(0,0,255,0.5);
				color: white;
			}
		</style>

		<script type="text/javascript" th:inline="javascript">

			$(function(){
				var randomFlag = [[${randomFlag}]]
                console.log("randomFlag"+randomFlag)
                if(randomFlag!=null){
                    randomOneGroup()
                }

                $(".red-ball").click(function () {
                    $(this).toggleClass("red-ball-selected")
                })

                $(".blue-ball").click(function () {
                    $(".blue-ball").removeClass("blue-ball-selected")
                    $(this).addClass("blue-ball-selected")
                })

			})


            function randomOneGroup(){
                console.log("randomOne")
                $(".red-ball").removeClass("red-ball-selected")

                while($(".red-ball-selected").length<6){
                    var i=Math.floor(Math.random()*33)
                    $($(".red-ball").get(i)).addClass("red-ball-selected")
                }
				var redball=""
                //遍历一遍,取出红球
				$(".red-ball-selected").each(function(index,data){
                    redball+=","+$(data).text();
				})
                redball=redball.substring(1)
				console.log(redball)

                $(".blue-ball").removeClass("blue-ball-selected")
                var j=Math.floor(Math.random()*12)
                $($(".blue-ball").get(j)).addClass("blue-ball-selected")


                var blueball = $(".blue-ball-selected").text();
                return {
                    "red":redball,
					"blue":blueball
				}
            }


			function random(){

			    var randomNum = $("#select-random").val();

			    //机选几注存入数组,每一注结构为json
				var array=Array()
                for (var i = 0; i < randomNum; i++) {
                    var group = randomOneGroup();
                    console.log("group:"+group)
                    array[i]=group
                }
                console.log("array:"+array)

				//数组转为json ,ajax访问服务器,根据返回size显示badge
				doSendBalls(array)
			}

			function doSendBalls(array){
                //数组转为json ,ajax访问服务器,根据返回size显示badge
                var json={items:JSON.stringify(array)}
                //注意这里的"json"参数,如果不写,controller需要返回map,写了之后,返回json字符串即可
                $.post("/hehe/chart/select",json,function(data,status){

				    console.log(data);
				    console.log(data.cartSize);

				    $("#cartSizeId").text(data.cartSize)
                },"json")
			}

			function selectBallsManually(){
                if($(".red-ball-selected").length!=6|$(".blue-ball-selected").length!=1){
                    alert("请选择6个红球,1个篮球")
                    return;
                }
                var array =new Array()

                var redball=""
                //遍历一遍,取出红球
                $(".red-ball-selected").each(function(index,data){
                    redball+=","+$(data).text();
                })
                redball=redball.substring(1)

                var blueball = $(".blue-ball-selected").text();

                array[0]= {
                    "red":redball,
                    "blue":blueball
                }
                doSendBalls(array)
            }

		</script>

	</head>

	<body>
		<div class="container-fluid">
			<!--title-->
			<div class="row title">
				<div class="col-sm-12">彩票详情</div>
				<div style="position: absolute;left: 10px; top: 0px;" th:onclick="|jumpToUrl('@{/}')|">
					&lt;返回
				</div>
			</div>

			<div class="row">
				<div style="float: left;">第124234期</div>
				<div style="float: right;">奖池<span style="color: red;">4亿4000万</span>,可开出<span style="color: red;">83注</span>500万</div>
			</div>

			<div class="row" style="margin-top: 5px;padding-left: 20px;">
				<span style="color:grey;">请选择六个红球,一个篮球</span>
			</div>

			<!--red balls-->
			<div class="row" style="padding-left: 20px;padding-right: 20px;">

				<div class="ball-item-container ">
					<div class="ball-item red-ball">01</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item red-ball">02</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item red-ball">03</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item red-ball">04</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item red-ball">05</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item red-ball">06</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item red-ball">07</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item red-ball">08</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item red-ball">09</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item red-ball">10</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item red-ball">11</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item red-ball">12</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item red-ball">13</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item red-ball">14</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item red-ball">15</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item red-ball">16</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item red-ball">17</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item red-ball">18</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item red-ball">19</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item red-ball">20</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item red-ball">21</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item red-ball">22</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item red-ball">23</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item red-ball">24</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item red-ball">25</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item red-ball">26</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item red-ball">27</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item red-ball">28</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item red-ball">29</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item red-ball">30</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item red-ball">31</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item red-ball">32</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item red-ball">33</div>
				</div>
			</div>
			<!--blue balls-->
			<div class="row" style="padding-left: 20px;padding-right: 20px;margin-top: 20px;">
				<div class="ball-item-container">
					<div class="ball-item blue-ball">01</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item blue-ball">02</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item blue-ball">03</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item blue-ball">04</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item blue-ball">05</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item blue-ball">06</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item blue-ball">07</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item blue-ball">08</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item blue-ball">09</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item blue-ball">10</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item blue-ball">11</div>
				</div>
				<div class="ball-item-container">
					<div class="ball-item blue-ball">12</div>
				</div>

			</div>

			<!--btn add-->
			<div class="row"style="padding-right: 20px;margin-top: 8px;" onclick="selectBallsManually()">
				<button type="button" class="btn btn-default" style="float: right;">添加</button>
			</div>

			<!--btn random-->
			<div class="row"style="padding-right: 20px;margin-top: 8px;">
				<button  type="button" class="btn btn-default" style="float: right;" onclick="random()">机选幸运号</button>
				<select id="select-random" name="" style="float: right;width: 60px;" class="form-control">
					<option>1</option>
					<option>2</option>
					<option>3</option>
				</select>
			</div>



			<!--bottom menu placeholder-->
			<div style="margin-bottom: 50px;">
			</div>

			<!--bottom menu-->
			<div class="menu">
				<div class="col-xs-6 menu-item " th:onclick="|jumpToUrl('@{/chart/chartUI}')|">
					<span class="glyphicon glyphicon-shopping-cart"></span>
					<span id="cartSizeId" class="badge" style="background-color: red;position: absolute;top: -10px"></span>
					<p>购物车</p>

				</div>
				<div class="col-xs-6 menu-item">
					<span class="glyphicon glyphicon-download"></span>
					<p>立即投注</p>

				</div>

			</div>

		</div>

	</body>

</html>